source s_host { 
	tcp(ip("0.0.0.0") port(514));
};

template LogglyFormat { template("<${PRI}>1 ${ISODATE} ${HOST} ${PROGRAM} ${PID} ${MSGID} [TOKEN@41058 tag=\"TAG\"] $MSG\n");
template_escape(no);
};


destination d_loggly {
    tcp("logs-01.loggly.com" port(6514)
    tls(peer-verify(required-untrusted) ca_dir('{{ logging_etc_path }}/syslog-ng/keys/ca.d/'))
    template(LogglyFormat));
};

log { 
	source(s_host); 
	destination(d_loggly); 
};